Creamos un csv con todas las estadísticas totales

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('df/UCL_CF_comp_2004_2023.csv')

In [4]:
equipos = df['Squad'].unique().tolist()
equipos

['pt Porto',
 'fr Monaco',
 'eng Chelsea',
 'es La Coruña',
 'es Real Madrid',
 'eng Arsenal',
 'it Milan',
 'fr Lyon',
 'eng Manchester Utd',
 'ru Loko Moscow',
 'it Juventus',
 'de Stuttgart',
 'cz Sparta Prague',
 'es Celta Vigo',
 'de Bayern Munich',
 'es Real Sociedad',
 'sct Celtic',
 'be Anderlecht',
 'ua Dynamo Kyiv',
 'tr Galatasaray',
 'it Lazio',
 'be Club Brugge',
 'nl PSV Eindhoven',
 'nl Ajax',
 'fr Marseille',
 'it Inter',
 'rs Partizan',
 'sct Rangers',
 'tr Beşiktaş',
 'gr AEK Athens',
 'gr Olympiacos',
 'gr Panathinaikos',
 'eng Liverpool',
 'de Leverkusen',
 'es Barcelona',
 'de Werder Bremen',
 'ua Shakhtar',
 'ru CSKA Moscow',
 'no Rosenborg',
 'il Maccabi Tel Aviv',
 'tr Fenerbahçe',
 'es Valencia',
 'fr Paris S-G',
 'it Roma',
 'es Villarreal',
 'pt Benfica',
 'ch Thun',
 'sk Artmedia',
 'it Udinese',
 'es Betis',
 'at Rapid Wien',
 'de Schalke 04',
 'fr Lille',
 'ro Steaua',
 'dk FC Copenhagen',
 'ru Spartak Moscow',
 'bg Levski Sofia',
 'fr Bordeaux',
 'pt Sporting CP',
 'de Hamburger SV',
 'es Sevilla',
 'cz Slavia Prague',
 'es Atlético Madrid',
 'cy Anorthosis',
 'dk Aalborg',
 'by BATE Borisov',
 'it Fiorentina',
 'ch Basel',
 'ru Zenit',
 'ro CFR Cluj',
 'il Maccabi Haifa',
 'cy APOEL FC',
 'ch Zürich',
 'hu Debrecen',
 'ro Unirea Urziceni',
 'de Wolfsburg',
 'ru Rubin Kazan',
 'be Standard Liège',
 'nl AZ Alkmaar',
 'eng Tottenham',
 'pt Braga',
 'il Hapoel Tel Aviv',
 'sk MŠK Žilina',
 'nl Twente',
 'fr Auxerre',
 'tr Bursaspor',
 'it Napoli',
 'cz Viktoria Plzeň',
 'hr Dinamo Zagreb',
 'eng Manchester City',
 'tr Trabzonspor',
 'be Genk',
 'de Dortmund',
 'ro Oțelul Galați',
 'es Málaga',
 'fr Montpellier',
 'dk Nordsjælland',
 'at Austria Wien',
 'si NK Maribor',
 'bg Ludogorets',
 'se Malmö',
 'es Athletic Club',
 'be Gent',
 'kz FC Astana',
 "de M'Gladbach",
 'eng Leicester City',
 'ru Rostov',
 'pl Legia Warsaw',
 'de RB Leipzig',
 'nl Feyenoord',
 'az Qarabağ FK',
 'ch Young Boys',
 'rs Red Star',
 'de Hoffenheim',
 'it Atalanta',
 'at RB Salzburg',
 'ru Krasnodar',
 'tr Başakşehir',
 'dk Midtjylland',
 'fr Rennes',
 'hu Ferencváros',
 'md Sheriff Tiraspol',
 'de Eint Frankfurt']

In [16]:
# Diccionario para asignar puntos según la etapa alcanzada
dict_stage = {
    'W': 6, '1': 6,  # Ganador o 1er lugar
    'F': 5, '2': 5,  # Finalista o 2do lugar
    'SF': 4,         # Semifinalista
    'QF': 3,         # Cuartos de final
    'R16': 2,        # Octavos de final
    'GS': 1          # Fase de grupos
}

# Asignar puntos de etapa a cada fila según el valor de 'Stage'
df['Stage_pts'] = df['Stage'].map(dict_stage)

# Calcular el número de títulos y el número de participaciones por equipo
# Número de títulos
num_titulos = df[df['Rk'] == 1].groupby('Squad').size().reset_index(name='Titulos')

# Número de participaciones
num_particip = df.groupby('Squad').size().reset_index(name='Participaciones')

# Preparar el dfset agregado con estadísticas totales
stats_agg = df.groupby('Squad').agg(
    Participaciones=('Year', 'nunique'),  # Contar años únicos para el número de participaciones
    W_t=('W', 'sum'),
    D_t=('D', 'sum'),
    L_t=('L', 'sum'),
    GF_t=('GF', 'sum'),
    GA_t=('GA', 'sum'),
    GD_t=('GD', 'sum'),
    Pts_t=('Pts', 'sum'),
    Stage_pts_t=('Stage_pts', 'sum')
).reset_index()

# Añadir el número de títulos a las estadísticas agregadas
stats_agg = stats_agg.merge(num_titulos, on='Squad', how='left').fillna({'Titulos': 0})

# poner titulos como int
stats_agg['Titulos'] = stats_agg['Titulos'].astype(int)

stats_agg

,Squad,Participaciones,W_t,D_t,L_t,GF_t,GA_t,GD_t,Pts_t,Stage_pts_t,Titulos
0,at Austria Wien,1,3.0,4.0,3.0,10.0,13.0,-3.0,13.0,0.0,0
1,at RB Salzburg,4,7.0,7.0,12.0,41.0,53.0,-12.0,28.0,2.0,0
2,at Rapid Wien,1,3.0,1.0,6.0,14.0,19.0,-5.0,10.0,0.0,0
3,az Qarabağ FK,1,0.0,2.0,4.0,2.0,14.0,-12.0,2.0,0.0,0
4,be Anderlecht,8,15.0,13.0,34.0,67.0,103.0,-36.0,58.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
118,tr Fenerbahçe,4,14.0,6.0,14.0,50.0,55.0,-5.0,48.0,3.0,0
119,tr Galatasaray,8,14.0,14.0,30.0,64.0,105.0,-41.0,56.0,5.0,0
120,tr Trabzonspor,1,1.0,5.0,2.0,4.0,8.0,-4.0,8.0,0.0,0
121,ua Dynamo Kyiv,11,28.0,20.0,38.0,111.0,127.0,-16.0,104.0,2.0,0
122,ua Shakhtar,16,45.0,31.0,46.0,170.0,190.0,-20.0,166.0,9.0,0

In [17]:
stats_agg.loc[stats_agg['Squad'] == 'eng Manchester City']

,Squad,Participaciones,W_t,D_t,L_t,GF_t,GA_t,GD_t,Pts_t,Stage_pts_t,Titulos
41,eng Manchester City,12,64.0,24.0,27.0,237.0,126.0,111.0,216.0,34.0,1

In [20]:
df_final = stats_agg.sort_values('Titulos', ascending=False)
df_final

,Participaciones,W_t,D_t,L_t,GF_t,GA_t,GD_t,Pts_t,Stage_pts_t,Titulos
Squad,,,,,,,,,,
es Real Madrid,20,125.0,44.0,44.0,455.0,230.0,225.0,419.0,73.0,5
es Barcelona,19,111.0,56.0,34.0,398.0,188.0,210.0,389.0,65.0,4
de Bayern Munich,19,126.0,38.0,38.0,459.0,198.0,261.0,416.0,67.0,2
eng Chelsea,18,92.0,56.0,38.0,317.0,167.0,150.0,332.0,58.0,2
eng Liverpool,13,83.0,30.0,36.0,272.0,141.0,131.0,279.0,43.0,2
...,...,...,...,...,...,...,...,...,...,...
dk Midtjylland,1,0.0,2.0,4.0,4.0,13.0,-9.0,2.0,0.0,0
dk FC Copenhagen,5,10.0,14.0,16.0,36.0,50.0,-14.0,44.0,2.0,0
dk Aalborg,1,5.0,3.0,2.0,20.0,15.0,5.0,18.0,0.0,0
de Wolfsburg,3,10.0,3.0,9.0,29.0,29.0,0.0,33.0,3.0,0
ua Shakhtar,16,45.0,31.0,46.0,170.0,190.0,-20.0,166.0,9.0,0

In [22]:
df_final.to_csv('data/UCL_equipos_2004_2024.csv')